* {
	box-sizing: border-box;
}

body { 

	background-image: url("../images/retro_intro.png")
 }

header {
	background-color: #fff;
	border-bottom: 3px solid gray;
	margin-bottom: 20px;
	border-color: #cccccc;
}
.container {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

#headshot {
	height: 30%;
	width: 30%;
	float: left;
}

nav ul li {
	display: inline;
	float: right;
	font-size: 20px;
	padding: 23px 15px 5px 15px;
	
}

nav ul li a {
	text-decoration: none;
	color: #777777;

}
a:hover  {
	color: #4aaaa5;
}


header {
	background-color: #fff;
	border-bottom: 3px solid gray;
	margin-bottom: 20px;
	border-color: #cccccc;
}

#header_name {
	background-color: #4aaaa5;
	font-family: "Georgia",Times, Times New Roman, serif;
	float: left;
	padding: 20px;
	color: white;
	font-weight: bold;
	font-size: 40px;
}

footer {
	padding: 23px 0;
	border-top: 3px solid #4aaaa5;
	background-color: #666666;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height:50px;
}

.main-content {
	width: 650px;
	float: left;
	background-color: #ffffff;
	text-align: center;
	padding: 15px;
	border-color: #dddddd solid;
	color: #777777;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;

}

#zig {
	font-style: italic;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;

}

.main-header{
	font-size: 30px;
	font-family: "Georgia",Times, Times New Roman, serif;
	color: #4aaaa5;
	text-align: left;
	padding: 20px 20px 20px 5px;
	background-color: #ffffff;
	font-weight: bold;
	;
}

.subheader{
	font-family: "Georgia",Times, Times New Roman, serif; 
	font-size: 18px;
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
	font-weight: bold;
}
.social-images {
	height: 55px;
	width: 55px;
	padding: 2px;
}

}
aside {
	float: right;

}

.connect{
	float: right;
	width: 270px;
	background-color: white;
	text-align: center;
	padding: 20px 10px 20px 10px;
	
}

form{
	text-align: left;
	
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
  	border: 1px solid #ccc;
    box-sizing: border-box;

}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 16px;
   
}
  
input[type=submit] {
    width: 25%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    float: left;
    font-weight: bold;
    font-size: 18px
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
}

.portrows {
	padding-top: 20px;
	background-color: #ffffff;
}

.left-col {
	float: left;
	position: relative;	
}

.port-img {
	width: 270px;
	height: 150px;
	
}
.right-col {
	float: right;
	position: relative;
}

.port-label {
	font-family: "Georgia", "Times", "Times New Roman", serif;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	width: 270px;
	padding: 10px 0;
	position: absolute;
	bottom: 20px;

}
