
body { 

	background-image: url("../images/retro_intro.png")
 }

header {
	background-color: #fff;
	margin-bottom: 20px;
	border-color: #cccccc;
	border-bottom: 3px solid #cccccc;	
}

.navbar, .navbar-default {
	border: none;
	background: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.navbar-brand {
	background-color: #4aaaa5;
	font-family: "Georgia",Times, Times New Roman, serif;
	float: left;
	color: white !important;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 0;
	padding: 40px 20px;
}

.nav.navbar-nav.navbar-right {
	background-color: #fff;
	padding-top: 20px;
	margin-bottom: 0;
}


}
.image-icons {
	height: 10%;
	width: 10%;
	float: left;
}

#headshot {
	padding: 0px 20px 0px 10px;
	height: 30%;
	width: 30%;
	float: left;
}

.navbar-fixed-bottom {
	padding: 20px 0;
	border-top: 3px solid #4aaaa5;
	background-color: #666666;
	width: 100%;
	height:50px;
	text-align: center;
}

#zig {
	font-style: italic;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;

}

#about-me {
	font-size: 14px;
	color: #4aaaa5;
	text-align: left;
	padding: 20px 0px 20px 0px;
	background-color: #ffffff;
	font-weight: bold;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	border-color: gray;
	margin: 10px;
}

#about-me > h1 {
	margin-right: 20px;
}

.col-md-12.aboutmecontent {
	font-size: 14px;
	color: #4aaaa5;
	text-align: left;
	padding: 20px 0px 20px 0px;
	background-color: #ffffff;
	font-weight: bold;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	border-color: gray;
	margin: 10px;

}

#connect > h2 {
	font-size: 20 px;
	background-color: #ffffff;
	color: #4aaaa5;

}

.row.connect {
	background-color: #ffffff;
	padding-bottom: 10px;
	text-align: center;
}

/* -- contact page --*/





form{
	text-align: left;
	
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
  	border: 1px solid #ccc;
    box-sizing: border-box;

}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 16px;
   
}
  
input[type=submit] {
    width: 25%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    float: left;
    font-weight: bold;
    font-size: 18px
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
}


/* -- portfolio page --*/

.col-md-8.portfolio {
	background-color: #ffffff;
	padding: 20px 10px 20px 10px;
}


.portrows {
	padding-top: 20px;
	background-color: #ffffff;
}

.left-col {
	float: left;
	position: relative;	
}

.port-img {
	width: 270px;
	height: 150px;
	
}
.right-col {
	float: right;
	position: relative;
}

.port-label {
	font-family: "Georgia", "Times", "Times New Roman", serif;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	width: 270px;
	padding: 10px 0;
	position: absolute;
	bottom: 20px;

}
	
	